@media (min-width:768px) {
    @keyframes leaf {
        from {

            height: 0px;
        }

        to {

            height: 300px;
        }

    }

    @keyframes oder {
        from {

            width: 0%;
        }

        to {

            width: 30%;
        }

    }

    @keyframes txt {
        from {
            left: -465px;

        }

        to {
            left: 0px;

        }

    }

    @keyframes img {
        from {
            opacity: 0%;
        }

        to {
            opacity: 100%;
        }

    }

    #navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    #navbar div {
        width: 30%;


    }

    #navbar div img {
        margin-left: 5%;
        padding-top: 20px;
    }

    #nav-head {
        display: flex;
        justify-content: left;
    }

    #nav-head h1 {
        padding-top: 32px;
        padding-left: 10px;
        color: azure;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #nav-link ul {
        display: flex;
        justify-content: space-between;
        padding-top: 42px;
    }

    #nav-link ul li {
        width: 15%;
        color: azure;
        list-style: none;
        cursor: pointer;


    }


    #nav-btn {
        display: flex;
        justify-content: right;

    }

    #nav-btn button {
        width: 30%;
        height: 40px;
        margin-top: 32px;
        margin-right: 5%;
        background: rgb(248, 194, 94);
        color: white;
        border-radius: 10px;
        border: 1px solid black
    }











    #baner1 {
        width: 90%;
        margin-left: 5%;
    }

    #baner1 {
        display: flex;
        justify-content: space-between;
    }

    #baner1 #baner1-txt {
        width: 30%;
    }

    #baner1-txt {
        color: white;
        position: relative;
        top: 114px;
        animation: txt;
        animation-duration: 1.5s;
        z-index: -10;
        left: 0px;
    }

    #baner1-txt h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30pt;
    }

    #baner1-txt #y-txt {
        font-size: 12pt;
        color: rgb(248, 194, 94);

    }

    #baner1-txt button {
        width: 30%;
        height: 40px;
        margin-top: 32px;

        background: rgb(248, 194, 94);
        color: white;
        border-radius: 10px;
        border: 1px solid black
    }

    #baner1-img {
        width: 60%;
        animation: img;
        animation-duration: 4.5s;

    }

    #short-txt {
        color: lightgray;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 20px;
    }

    #baner1-img button {
        width: 30%;
        height: 62px;


        background: white;
        color: black;
        border-radius: 10px;
        border: 1px solid white;
        position: relative;
        top: -370px;
        float: right;
        animation: oder;
        animation-duration: 3.5s;

    }

    #baner1-img img {
        position: relative;
        z-index: -10;
    }

    #leaf {
        position: relative;
        top: -220px;
        animation: leaf;
        animation-duration: 2.5s;

    }








    @keyframes baner-img {
        from {
            left: 700px;
        }

        to {
            left: 0px;
        }
    }

    .baner-img-animation {
        animation: baner-img;
        animation-duration: 0.5s;
    }



    #baner2 {
        width: 90%;
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -250px;


    }

    #baner2 img {}

    #baner2 div {
        width: 45%;
        position: relative;
        top: 40px;
    }

    #baner2 div p {
        font-size: 12px;
        color: rgb(248, 194, 94);
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #baner2 div h1 {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30pt;

    }

    #baner2 div button {
        width: 30%;
        height: 50px;


        background: transparent;
        color: rgb(248, 194, 94);
        border-radius: 10px;
        border: 1px solid rgb(248, 194, 94);


    }




    #service {
        width: 90%;
        margin-left: 5%;
        position: relative;
        top: -250px;

    }

    #service p {
        color: rgb(248, 194, 94);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        width: 100%;
        text-align: center;
    }

    #service h1 {
        width: 100%;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30pt;
        color: white;
    }

    #slider {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

    }

    #slider .sliderbtn1 {
        width: 10%;
        display: flex;
        align-items: center;

    }

    #slider .sliderbtn1 button {
        width: 50%;
        height: 50px;
        border-radius: 100%;
        border: 1px solid black;
        background: transparent;


    }

    #slider .sliderbtn2 {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    #slider .sliderbtn2 button {
        width: 50%;
        height: 50px;
        border-radius: 100%;
        border: 1px solid black;
        background: transparent;
    }


    #slide1 {
        width: 80%;

        height: 300px;
        border: 0px;
        display: flex;
        justify-content: space-between;

    }

    #slide1 div {
        width: 30%;
        height: 300px;
        background: rgb(7, 8, 22);
        border: 1px solid rgb(248, 194, 94);
        border-radius: 10px;
        box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.575);
    }

    #slide1 div img {
        width: 50%;
        margin-left: 25%;
        height: 150px;
        margin-top: 30px;
    }

    #slide1 div p {
        color: lightgray;
    }

    #slide2 {
        width: 80%;

        height: 300px;
        border: 0px;
        display: none;
        justify-content: space-between;


    }

    #slide2 div {
        width: 30%;
        height: 300px;
        background: rgb(7, 8, 22);
        border: 1px solid rgb(248, 194, 94);
        border-radius: 10px;
        box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.575);
    }

    #slide2 div img {
        width: 50%;
        margin-left: 25%;
        height: 150px;
        margin-top: 30px;
    }

    #slide2 div p {
        color: lightgray;
    }

    @keyframes slideanimation {
        from {
            width: 0%;
        }

        to {
            width: 80%;
        }
    }

    .slideanimation {
        animation: slideanimation;
        animation-duration: 1s;

    }












    @keyframes appanimation {
        from {
            left: -800px;
        }

        to {
            left: 0px;
        }
    }



    .appanimation {
        animation: appanimation;
        animation-duration: 0.5s;
    }

    #app {
        width: 90%;
        display: flex;
        justify-content: center;
        position: relative;
        top: -180px;
    }

    #app div {
        width: 35%;
        position: relative;
        top: 155px;
    }

    #app #app-img {
        width: 60%;
        position: relative;
        top: 0px;
    }

    #app p {
        color: rgb(248, 194, 94);
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    #app h1 {
        color: white;
        font-size: 30pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 20px;
    }

    #app button {
        width: 50%;
        height: 50px;
        border-radius: 10px;
        border: 1px solid black;
        background: rgb(248, 194, 94);
        margin-top: 20px;
    }











    @keyframes menu {
        from {
            width: 0%;
            opacity: 0%;

        }

        to {
            width: 100%;
            opacity: 100%;
        }
    }

    .menuanimation {
        animation: menu;
        animation-duration: 1s;

    }

    #menu {
        width: 90%;
        margin-left: 5%;
        position: relative;
        top: -100px;
    }

    #menu p {
        color: rgb(248, 194, 94);
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

    #menu h1 {
        color: white;
        font-size: 30pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 20px;
        text-align: center;

    }


    #popular {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    #popular div {
        width: 30%;
        height: 300px;
        background: black;
        box-shadow: 0px 03px 3px 3px rgba(0, 0, 0, 0.589);
        border: 1px solid rgb(248, 194, 94);cursor: pointer;
        
    }
    #popular div:hover{
        
        position: relative;
        top: -20px;
    }

    #popular div h1 {
        text-align: justify;
        font-size: 22px;
        margin-bottom: 0px;
        margin-left: 5%;
        margin-top: 5px;
    }

    #popular div p {
        text-align: justify;
        margin-left: 5%;
    }

    #bergar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    #bergar div {
        width: 30%;
        height: 300px;
        box-shadow: 0px 03px 3px 3px rgba(0, 0, 0, 0.589);
        border: 1px solid rgb(248, 194, 94);
        background: black;cursor: pointer;
    }
    #bergar div:hover{
        
        position: relative;
        top: -20px;
    }

    #bergar div h1 {
        text-align: justify;
        font-size: 22px;
        margin-bottom: 0px;
        margin-left: 5%;
        margin-top: 5px;
    }

    #bergar div p {
        text-align: justify;
        margin-left: 5%;
    }

    #plater {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    #plater div {
        width: 30%;
        height: 300px;
        box-shadow: 0px 03px 3px 3px rgba(0, 0, 0, 0.589);
        border: 1px solid rgb(248, 194, 94);
        background: black;cursor: pointer;
    }
    #plater div:hover{
        
        position: relative;
        top: -20px;
    }

    #plater div h1 {
        text-align: justify;
        font-size: 22px;
        margin-bottom: 0px;
        margin-left: 5%;
        margin-top: 5px;
    }

    #plater div p {
        text-align: justify;
        margin-left: 5%;
    }

    #chicken {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    #chicken div {
        width: 30%;
        height: 300px;
        box-shadow: 0px 03px 3px 3px rgba(0, 0, 0, 0.589);
        border: 1px solid rgb(248, 194, 94);
        background: black;cursor: pointer;
    }
    #chicken div:hover{
        
        position: relative;
        top: -20px;
    }

    #chicken div h1 {
        text-align: justify;
        font-size: 22px;
        margin-bottom: 0px;
        margin-left: 5%;
        margin-top: 5px;
    }

    #chicken div p {
        text-align: justify;
        margin-left: 5%;
    }

    #desart {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    #desart div {
        width: 30%;
        height: 300px;
        box-shadow: 0px 03px 3px 3px rgba(0, 0, 0, 0.589);
        border: 1px solid rgb(248, 194, 94);
        background: black;cursor: pointer;
    }
    #desart div:hover{
        
        position: relative;
        top: -20px;
    }

    #desart div h1 {
        text-align: justify;
        font-size: 22px;
        margin-bottom: 0px;
        margin-left: 5%;
        margin-top: 5px;
    }

    #desart div p {
        text-align: justify;
        margin-left: 5%;
    }

    #drink {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    #drink div {
        width: 30%;
        height: 300px;
        box-shadow: 0px 03px 3px 3px rgba(0, 0, 0, 0.589);
        border: 1px solid rgb(248, 194, 94);
        background: black;
        cursor: pointer;
    }
    #drink div:hover{
        
        position: relative;
        top: -20px;
    }

    #drink div h1 {
        text-align: justify;
        font-size: 22px;
        margin-bottom: 0px;
        margin-left: 5%;
        margin-top: 5px;
    }

    #drink div p {
        text-align: justify;
        margin-left: 5%;
    }









    @keyframes reviewperson {
        from{
            left: -500px;

        }
        to{
            left: 0px;
        }
    }
    

    @keyframes reviewtxt {
        from{
            width: 0%;

        }
        to{
           width: 100%;
        }
    }
    
    @keyframes reviewimg {
        from{
            opacity: 0%;

        }
        to{
            opacity: 100%;
        }
    }

    @keyframes reviewbtn {
        from{
           width: 0%;

        }
        to{
            width: 20%;
        }
    }
    .reviewperson{
        animation: reviewperson;
        animation-duration: 1s;
    }
    .reviewtxt{
        animation: reviewtxt;
        animation-duration: 2s;
    }
    .reviewimg{
        animation: reviewimg;
        animation-duration: 5s;
    }
    .reviewbtn{
        animation: reviewbtn;
        animation-duration: 1s;
    }




    #review{
        width: 90%;
        margin-left: 5%;
        
    }
    
    #review p{
        text-align: center;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(248, 194, 94);
        width: 100%;
        margin: 0;
    }
    #review h1{
        text-align: center;
        font-size: 30pt;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:white;
        width: 100%;
        margin: 0;
    }
    #review #offer{
        width: 20%;
        height: 60px;
       float: right;
       position: relative;
       top: -550px;
        border: 0;
        background: azure;
        border: 1px solid black;
        border-radius: 15px;
        
    }
    #ri{
        position: relative;
        z-index: -10;
    }
    #review #grp{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        position: relative;
        top: -130px;
    }
    #review #grp div{
        width: 50%;
        position: relative;
        top: 110px;

    }
  
    #review #grp div h1{
        font-size: 25pt;
        padding-top: 30px;
        padding-bottom: 30px;
      

    }
    #review #grp div p{
        color: lightgray;
    }
    #review #grp div img{
       margin-left: 25%;
       border-radius: 100%;
    }
    #review #grp div button{
        width: 40%;
        height: 40px;
        margin-left: 30%;
        margin-top: 50px;
        border: 0;
        background: rgb(248, 194, 94);
    }





}


* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(24, 24, 24);
}